// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    --ion-background-color: #E0E0F8;
    --ion-background-color-rgb: 224, 224, 248;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;
    --ion-color-step-50: #d5d5ec;
    --ion-color-step-100: #cacadf;
    --ion-color-step-150: #bebed3;
    --ion-color-step-200: #b3b3c6;
    --ion-color-step-250: #a8a8ba;
    --ion-color-step-300: #9d9dae;
    --ion-color-step-350: #9292a1;
    --ion-color-step-400: #868695;
    --ion-color-step-450: #7b7b88;
    --ion-color-step-500: #70707c;
    --ion-color-step-550: #656570;
    --ion-color-step-600: #5a5a63;
    --ion-color-step-650: #4e4e57;
    --ion-color-step-700: #43434a;
    --ion-color-step-750: #38383e;
    --ion-color-step-800: #2d2d32;
    --ion-color-step-850: #222225;
    --ion-color-step-900: #161619;
    --ion-color-step-950: #0b0b0c;
}