<ion-grid>
    <ion-row>
        <ion-col>
            <ion-card (click)="onRouterLink_1()">
                <img src="../../../assets/imageApp/search_img.png" />
                <ion-card-content>
                    <ion-label>Search Image</ion-label>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card (click)="onRouterLink_2()">
                <img src="../../../assets/imageApp/new_img.png" />
                <ion-card-content>
                    <ion-label>News Image</ion-label>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-card (click)="onRouterLink_3()">
                <img src="../../../assets/imageApp/car_img.png" />
                <ion-card-content>
                    <ion-label>Car Image</ion-label>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card (click)="onRouterLink_4()">
                <img src="../../../assets/imageApp/animals_img.png" />
                <ion-card-content>
                    <ion-label>Animals Image</ion-label>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-card (click)="onRouterLink_5()">
                <img src="../../../assets/imageApp/loadScape_img.png" />
                <ion-card-content>
                    <ion-label>Religion Image</ion-label>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card (click)="onRouterLink_6()">
                <img src="../../../assets/imageApp/other_img.png" />
                <ion-card-content>
                    <ion-label>Computer Image</ion-label>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>