ion-label {
    font-size: small;
}

ion-card {
    background-color: black;
}

ion-card-content {
    text-align: center;
    border-top: solid 1px;
    background-color: white;
    padding: 8px;
}

img {
    height: 140px;
    padding: 10%;
}